/* map area */
body { padding:0; margin:0; }
html, body, #mapContainer { height:100%; width:100vw; }

/* location button */
#hereButton {
  position:relative; top:10px; padding:10px; z-index:1000;
  font-weight:bold;
  border-style:none; border-radius:6px;
/*background-color:gold; color:black;*/
}
.buttonLayout { text-align:center; }

/* leaflet popup */
.leaflet-popup-content-wrapper table,th,td {
  border-collapse: collapse;
  border: none;
}
.leaflet-popup-content-wrapper th {
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px black;
}
.leaflet-popup-content-wrapper td {
  text-align: right;
  border-bottom: solid 0px gray;
}
.leaflet-popup-content-wrapper table tr:nth-child(even){
  background-color: #eee
}

